p.speech
{
	position: relative;
	width: 100px;
	height: 80px;
	left: 100px;
	top: 100px;
	background-color: #89CFF0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


p.speech::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left:-15px;
	top: -15px;
	border: 25px solid;
	/*border-color: transparent transparent #89CFF0 transparent;*/
	border-color: transparent transparent #89CFF0 transparent;
  	-webkit-transform: rotate(25deg);
  	-moz-transform: rotate(25deg);
   	transform: rotate(25deg);
}