div.animation{
	width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: green;
    margin:auto;
}

div.animation:hover{
	-moz-animation-name: example;
    -moz-animation-duration: 30s;
    -moz-animation-delay: 10s;
    animation-name: example;
    animation-duration: 30s;
    animation-delay: 10s;
}

@-moz-keyframes example {
    0%   {background-color:green;}
    33%  {background-color:orange; border-radius: 30px; }
    66%  {background-color:red; border-radius: 45px;}
    100%  {background-color:blue; border-radius: 100px;}
}
 
/* Standard syntax */
@keyframes example {
    0%   {background-color:green;}
    33%  {background-color:orange; border-radius: 30px; }
    66%  {background-color:red; border-radius: 45px;}
    100%  {background-color:blue; border-radius: 100px;}
 }